#navbar {
  background-color: black;
  margin-bottom: 50px;
}
#navbar a {
  color: #c4e1f6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
#navbar a:hover {
  background-size: contain;
  color: #ffffff;
}
.navbar-toggler {
  position: absolute;
  top: 30px;
  right: 16px;
}
#logo {
  height: auto;
  margin-bottom: 5px;
}
#mainSect {
  display: flex;
  align-items: center;
}
body {
  text-align: center;
}
#pfp {
  height: 150px;
  margin-bottom: 30px;
  border-radius: 50%;
}
.container {
  width: 530px;
}
#cardName {
  font-size: 25px;
  color: #f5f5e1;
  text-shadow: 2px 2px 3px #000000;
}
#cardDesc {
  color: #f5f5e1;
  text-shadow: 1px 1px 2px #000000;
}
