#navbar {
  background-color: black;
  margin-bottom: 50px;
}
#navbar a {
  color: #c4e1f6;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
#navbar a:hover {
  background-size: contain;
  color: #ffffff;
}
.navbar-toggler {
  position: static;
  margin-left: -1px;
  margin-right: -50px;
}
body {
  padding-top: 120px;
  text-align: center;
}
#pfp {
  max-width: 50%;
  margin-bottom: 1%;
  border-radius: 50%;
}
#infoCont {
  max-width: 40%;
  padding-bottom: 20px;
  margin: auto;
}
#slideshow {
  max-width: 30%;
  margin: auto;
  padding-bottom: 2%;
}
#myInfo {
  text-align: center;
  font-size: 90%;
  margin:auto;
}
#cards {
  max-width: 100%;
  margin: auto;
}
#infoHead {
  padding-bottom: 1%;
}
#subHead {
  padding-bottom: 1%;
  color: #7098b5;
}
