#navbar {
  background-color: black;
  margin-bottom: 50px;
}
#navbar a {
  color: #c4e1f6;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
#home:hover {
  text-decoration: none;
  color: white;
}
.grid-container {
  display: grid;
  margin: auto;
  grid-template-columns: auto auto auto;
  text-align: center;
}
#navbar a:hover {
  background-size: contain;
  color: #ffffff;
}
.navbar-toggler {
  position: static;
  margin-left: -1px;
  margin-right: -50px;
}
body {
  padding-top: 140px;
  text-align: center;
  overflow-y: scroll; /* Show vertical scrollbar */
}
#pfp {
  max-width: 50%;
  margin-bottom: 1%;
  border-radius: 50%;
}
#infoCont {
  padding-bottom: 20px;
  margin: auto;
}
#slideshow {
  min-width: 300px;
  max-width: 30%;
  margin: auto;
  padding-bottom: 2%;
}
#myInfo {
  text-align: center;
  font-size: 90%;
  margin: auto;
}
#infoHead {
  padding-bottom: 1%;
}
#subHead {
  padding-bottom: 1%;
  color: #7098b5;
}
#overlayCont {
  padding: 0;
  position: relative;
  width: 50%;
  width: 100%;
}
#artistPic {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
#overlayCont:hover .overlay {
  opacity: 1;
}
