#navbar {
    background-color: black;
    margin-bottom: 50px;
}
#menu {
    color: #c4e1f6;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-right: 20px;
    font-size: clamp(18px, 2vw, 24px);
}
.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: auto auto auto;
}
.container {
    flex-wrap: wrap;
    flex-shrink: 3;
}
#navbar a:hover {
    background-size: contain;
    color: #ffffff;
}
.navbar-toggler {
    position: static;
    margin-left: -1px;
    margin-right: -50px;
}
#home {
    font-weight: 600;
    color: white;
    margin-right: 25px;
}
#home:hover {
    text-decoration: none;
}
body {
    padding-top: 140px;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    overflow-y: scroll; /* Show vertical scrollbar */
}
.tab {
    overflow: hidden;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 5px;
    margin: auto;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}